

.Menu {
    position: fixed;
    top: 60px; 
    left: 0;
    width: 220px;
    height: calc(100% - 60px); 
    background-color: inherit;
    z-index: 1000;
    transition: transform 0.3s ease;
    transform: translateX(-100%);
  }
  
  .Menu.open {
    transform: translateX(0);
  }
  
  .Menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .Menu .btn{
    width: 90%;
    border-radius: 10px;
  }