
.userVideos  li.userBox  {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  flex: 1 1 0;
  min-width: 280px;

  flex: 1 1 calc(25% - 20px);
}

.userBox .video-info-user h3 {
  width: inherit;
  margin: 0;
  font-size: 15px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}

.userBox .video-info-user p {
  width: inherit;
  margin: 0;
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;

}

.userBox .video-info-user {
  padding-top: 0px;
  overflow: hidden;
  padding-right: 20px;
  padding-left: 20px;

}

.profileUserBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 1;
}


@media (min-width:900px) {

  .userBox h2 {
    margin-bottom: 20px;
    color: #333;
    font-size: 24px;
  }

  .userBox .video-info p {
    margin: 2px 0;
    font-size: 14px;
    color: #555;
  }


}

@media (max-width:900px) {
  .userBox .video-info h3 {
    width: inherit;
  }
}

@media (max-width:500px) {
  .userBox li {
    flex-direction: column;
  }

  .userBox .video-info {
    margin: 10px;
    padding: 0px;

  }
}
